{% extends 'privado/base.html' %}
{% load staticfiles %}
{% block titulo %}
Pdf
{% endblock %}
{% block pagina %}
Audio<small>Lista</small>
{% endblock %}
{% block miga %}
<li><a href="/"><i class="fa fa-dashboard active"></i> Administración</a></li><li><i class="fa fa-file-pdf-o"></i> Audio</li><li><i class="fa fa-list-alt"></i> Lista</li>
{% endblock %}
{% block contenido %}
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div id="exTab2">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a  href="#1" data-toggle="tab">Pdfs</a>
                        </li>
                        <li>
                            <a href="#2" data-toggle="tab">Textos</a>
                        </li>
                        <li>
                            <a href="#3" data-toggle="tab">Audios</a>
                        </li>
                        <li>
                            <a href="#4" data-toggle="tab">Videos</a>
                        </li>
                        <li>
                            <a href="#5" data-toggle="tab">Imagenes</a>
                        </li>

                    </ul>
                    <div class="tab-content ">
                        <div class="tab-pane active" id="1">
                            {% if pdfs %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Titulo</th>
                                            <th>Propietario</th>
                                            <th>Creado</th>
                                            <th>Actualizado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pdf in pdfs %}
                                        <tr>
                                            <td>{{ pdf.nombre }}</td>
                                            <td>{{ pdf.propietario }}</td>
                                            <td>{{ pdf.fecha }}</td>
                                            <td>{{ pdf.actualizado }}</td>
                                            <td><a href="/administrador/pdf/activar/{{ pdf.id }}"  class="btn btn-success">Activa <i class="fa fa-check-square-o"></i></a> <a href="/administrador/pdf/detalle/{{ pdf.id }}"  class="btn btn-info">ver <i class="fa fa-eye"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                                <p class="lead text-center">No se encontrarón PDFS</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="2">
                            {% if textos %}
                            <div id="texto" class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Titulo</th>
                                            <th>Propietario</th>
                                            <th>Creado</th>
                                            <th>Actualizado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for texto in textos %}
                                        <tr>
                                            <td>{{ texto.nombre }}</td>
                                            <td>{{ texto.propietario }}</td>
                                            <td>{{ texto.fecha }}</td>
                                            <td>{{ texto.actualizado }}</td>
                                            <td><a href="/administrador/texto/activar/{{ texto.id }}"  class="btn btn-success">Activar <i class="fa fa-check-square-o"></i></a> <a href="/administrador/texto/detalle/{{ texto.id }}"  class="btn btn-info">Ver <i class="fa fa-eye"></i></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                                <p class="lead text-center">No se encontrarón TEXTOS</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="3">
                            {% if audios %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Titulo</th>
                                            <th>Propietario</th>
                                            <th>Creado</th>
                                            <th>Actualizado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for audio in audios %}
                                        <tr>
                                            <td>{{ audio.propietario }}</td>
                                            <td>
                                                <div id="audio" class="kv-file-content">
                                                    <audio id="fuente" class="kv-preview-data" preload="none">
                                                        <source src="http://localhost:8000/media/{{ audio.ruta }}" type="audio/mp3">
                                                    </audio>
                                                    <i id="audio" class="fa fa-play-circle-o fa-2x"></i>
                                                </div>
                                            </td>
                                            <td>{{ audio.fecha }}</td>
                                            <td>{{ audio.actualizado }}</td>
                                            <td><a href="/administrador/audio/activar/{{ audio.id }}"  class="btn btn-success">Activar <i class="fa fa-check-square-o"></i></a> <a href="/administrador/audio/detalle/{{ audio.id }}"  class="btn btn-info">ver <i class="fa fa-eye"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                                <p class="lead text-center">No se encontrarón AUDIOS</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="4">
                            {% if videos %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Titulo</th>
                                            <th>Propietario</th>
                                            <th>Creado</th>
                                            <th>Actualizado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for video in videos %}
                                        <tr>
                                            <td>{{ video.propietario }}</td>
                                            <td>{{ video.ruta }}</td>
                                            <td>{{ video.fecha }}</td>
                                            <td>{{ video.actualizado }}</td>
                                            <td><a href="/administrador/video/activar/{{ video.id }}"  class="btn btn-success">Activar <i class="fa fa-check-square-o"></i></a> <a href="/administrador/video/detalle/{{ video.id }}"  class="btn btn-info">ver <i class="fa fa-eye"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                                <p class="lead text-center">No se encontrarón VIDEOS</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="5">
                            {% if imagenes %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Titulo</th>
                                            <th>Propietario</th>
                                            <th>Creado</th>
                                            <th>Actualizado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for imagen in imagenes %}
                                        <tr>
                                            <td>{{ imagen.propietario }}</td>
                                            <td>{{ imagen.ruta }}</td>
                                            <td>{{ imagen.fecha }}</td>
                                            <td>{{ imagen.actualizado }}</td>
                                            <td><a href="/administrador/imagen/activar/{{ imagen.id }}"  class="btn btn-success">Activar <i class="fa fa-check-square-o"></i></a> <a href="/administrador/imagen/detalle/{{ imagen.id }}"  class="btn btn-info">ver <i class="fa fa-eye"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                                <p class="lead text-center">No se encontrarón IMAGENES</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var yourAudio = document.getElementById('fuente'),
        ctrl = document.getElementById('audio');

        ctrl.onclick = function () {

            // Update the Button
            var pause = ctrl.innerHTML === '<i class="fa fa-pause-circle-o fa-2x"></i>';
            ctrl.innerHTML = pause ? '<i class="fa fa-play-circle-o fa-2x"></i>' : '<i class="fa fa-pause-circle-o fa-2x"></i>';

            // Update the Audio
            var method = pause ? 'pause' : 'play';
            yourAudio[method]();

            // Prevent Default Action
            return false;
        };
    </script>
{% endblock %}