{% extends 'privado/base.html' %}
{% load staticfiles %}
{% block titulo %}
Video
{% endblock %}
{% block pagina %}
Video<small>Lista</small>
{% endblock %}
{% block miga %}
<li><a href="/"><i class="fa fa-dashboard active"></i> Administración</a></li><li href="#"><i class="fa fa-file-video-o"></i> Video</li><li><i class="fa fa-list-alt"></i> Lista</li>
{% endblock %}
{% block contenido %}
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">VIDEOS</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover table-striped">
                <tr>
                    <th>Descripción</th>
                    <th>Autor</th>
                    <th>Creación</th>
                    <th>Actualización</th>
                    <th>Acciones</th>
                </tr>
                    {% for video in object_list %}
                        <tr>
                            <td class="col-sm-5">{% autoescape off %}{{ video.descripcion }}{% endautoescape %}</td>
                            <td class="col-sm-3">{{ video.propietario }}</td>
                            <td class="col-sm-1">{{ video.fecha|date:"d/M/Y"|lower }}</td>
                            <td class="col-sm-1">{{ video.actualizado|date:"d/M/Y"|lower }}</td>
                            <td class="col-sm-2">
                                <a href="/administrador/video/detalle/{{ video.id }}" class="btn btn-success col-xs-4"><i class="fa fa-eye"></i></a>
                                <a href="/administrador/video/editar/{{ video.id }}" class="btn btn-primary col-xs-4"><i class="fa fa-pencil"></i></a>
                                <a href="/administrador/video/eliminar/{{ video.id }}" class="btn btn-danger col-xs-4"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.box-header -->
    {% for field in form %}
       {% for error in field.errors %}
           <strong>{{ error|escape }}<br>Error en el campo:{{ field.label }}</strong><br>
       {% endfor %}
    {% endfor %}
{% endblock %}