{% extends 'privado/base.html' %}
{% load staticfiles %}
{% block titulo %}
Video
{% endblock %}
{% block pagina %}
Video<small>Detalle</small>
{% endblock %}
{% block miga %}
<li><a href="/"><i class="fa fa-dashboard active"></i> Administración</a></li><li><a href="/administrador/video/"><i class="fa fa-file-video-o"></i> Video</a></li><li><i class="fa fa-info-circle"></i> Detalle</li>
{% endblock %}
{% block contenido %}
    <div class="col-xs-8 col-xs-offset-2">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active video-header text-center">
                <h1 class="widget-user-username">{{ object.nombre }}</h1>
                <h5 class="widget-user-desc">Detalle del VIDEO</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="{% static 'administrador/img/video.png' %}" alt="Pdf Icon">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Propietario</h5>
                            <span class="description-text">{{object.propietario|lower}}</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-xs-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Tipo</h5>
                            <span class="description-text">{{ object.tipo }}</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-xs-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Clase</h5>
                            <span class="description-text">{{ object.clase|capfirst }}</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-sm-6 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Tags</h5>
                            {% for clave in object.clave.all %}
                                <p class="description-text">
                                {{ clave.nombre }}
                                </p>
                            {% endfor %}
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-xs-6 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Tematicas</h5>
                            {% for tematica in object.tematica.all %}
                                <p class="description-text">
                                {{ tematica.nombre }}
                                </p>
                            {% endfor %}
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-xs-12 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Area de conocimiento</h5>
                            <span class="description-text">{{ object.carrera }}</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 border-right">
                        <div class="description-block">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="file-drop-disabled">
                                        <div class="file-preview-thumbnails">
                                            <div class="file-live-thumbs">
                                                <div class="file-preview-frame" data-fileindex="0" data-template="audio" title="linda estrella letra.mp3" style="width : 300px;height : 200px;">
                                                    <video id="fuente" class="kv-preview-data" width="300px" height="200px">
                                                        <source src="http://www.repositio.com/media/{{ object.ruta }}" type="video/mp4">
                                                    </video>
                                                    <div class="col-xs-12">
                                                        <div class="btn-group btn-group-justified">
                                                            <div class="btn-group">
                                                                <button class="btn btn-primary" onclick="restart();"><i class="fa fa-stop-circle-o"></i></button>
                                                            </div>
                                                            <div class="btn-group">
                                                                <button id="play" class="btn btn-primary" onclick="vidplay()"><i class=" fa fa-play-circle-o"></i></button>
                                                            </div>
                                                            <div class="btn-group">
                                                                <button class="btn btn-primary" onclick="full();" data-toggle="modal" data-target="#filemodal"><i class="fa fa-arrows-alt"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <fieldset>
                            <legend class="lead text-center">Descripción</legend>
                            {% autoescape off %}{{ object.descripcion }}{% endautoescape %}
                        </fieldset>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
    <div id="filemodal" class="modal fade" tabindex="-1" aria-labelledby="kvFileinputModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="kv-zoom-actions pull-right"><button type="button" class="btn btn-default btn-close" title="Close detailed preview" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button></div>
                    <h3 class="modal-title"><small><span class="kv-zoom-title">{{ object.name }} - ({{ object.ruta.size|filesizeformat }})</span></small></h3>
                </div>
                <div class="modal-body">
                    <div class="floating-buttons"></div>
                    <div class="kv-zoom-body file-zoom-content">
                        <video id="fuentefull" class="kv-preview-data" width="100%" height="100%">
                            <source src="http://www.repositio.com/media/{{ object.ruta }}" type="video/mp4">
                        </video>
                        <div class="col-xs-12">
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group">
                                    <button class="btn btn-primary" onclick="restartfull();"><i class="fa fa-stop-circle-o"></i></button>
                                </div>
                                <div class="btn-group">
                                    <button id="playfull" class="btn btn-primary" onclick="vidplayfull()"><i class=" fa fa-play-circle-o"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.widget-user -->
        <script>
        function vidplay() {
           var video = document.getElementById('fuente')
           var boton = document.getElementById('play');
           if (video.paused) {
                video.play();
                boton.innerHTML = '<i class=" fa fa-pause-circle-o"></i>';
           }else {
                video.pause();
                boton.innerHTML = '<i class=" fa fa-play-circle-o"></i>';
           }
        }   
         function restart() {
            var video = document.getElementById("fuente")
            var boton = document.getElementById('play');
            video.currentTime = 0;
            video.pause();
            boton.innerHTML = '<i class=" fa fa-play-circle-o"></i>';
        }  
        function full() {
            var video = document.getElementById("fuente")
            video.pause();
        }      

        function vidplayfull() {
           var videofull = document.getElementById('fuentefull')
           var botonfull = document.getElementById('playfull');
           if (videofull.paused) {
                videofull.play();
                botonfull.innerHTML = '<i class=" fa fa-pause-circle-o"></i>';
           }else {
                videofull.pause();
                botonfull.innerHTML = '<i class=" fa fa-play-circle-o"></i>';
           }
        }   
         function restart() {
            var videofull = document.getElementById("fuentefull")
            var botonfull = document.getElementById('playfull');
            videofull.currentTime = 0;
            videofull.pause();
            botonfull.innerHTML = '<i class=" fa fa-play-circle-o"></i>';
        }   
        </script>
{% endblock %}