{% extends 'privado/base.html' %}
{% block titulo %}
Lo más buscado
{% endblock %}
{% block pagina %}
Lo más
<small>Buscado</small>
{% endblock %}
{% block contenido %}
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">TOP 10</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                {% if pdfs %}
                <table class="table table-hover table-striped">
                    <tr>
                        <th class="col-xs-4">Titulo</th>
                        <th class="col-xs-3">Autor</th>
                        <th class="col-xs-2">Visualizaciones</th>
                        <th class="col-xs-1">Creación</th>
                        <th class="col-xs-1">Actualización</th>
                        <th class="col-xs-1">Acciones</th>
                    </tr>
                    {% for pdf in pdfs %}
                        <tr>
                            <td>{{ pdf.nombre }}</td>
                            <td>{{ pdf.propietario }}</td>
                            <td>{{ pdf.contador }}</td>
                            <td>{{ pdf.fecha|date:"d/M/Y"|lower }}</td>
                            <td>{{ pdf.actualizado|date:"d/M/Y"|lower }}</td>
                            <td>
                                <a href="/administrador/pdf/detalle/{{ pdf.id }}" class="btn btn-success"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="info">
                        <td class="col-xs-4"></td>
                        <td class="col-xs-3 text-right"><b>TOTAL:</b></td>
                        <td class="col-xs-2">{{ total }}</td>
                        <td class="col-xs-1"></td>
                        <td class="col-xs-1"></td>
                        <td class="col-xs-1"></td>
                    </tr>
                </table>
                {% else %}
                <p class="lead text-center">No hemos encontrado contenido disponible para tu perfil</p>
                {% endif %}
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
{% endblock %}