{% extends 'privado/base.html' %}
{% load staticfiles %}
{% block titulo %}
Texto
{% endblock %}
{% block pagina %}
Texto<small>Crear</small>
{% endblock %}
{% block miga %}
<li><a href="/"><i class="fa fa-dashboard active"></i> Administración</a></li><li href="#"><i class="fa fa-file-text-o"></i> Texto</li><li><i class="fa fa-plus-square"></i> Crear</li>
{% endblock %}
{% block contenido %}
    <div class="col-xs-8 col-xs-offset-2">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Crear texto</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
                <div class="box-body">
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        {% if form.nombre.field.required %}<i class="fa fa-asterisk text-danger" aria-hidden="true"></i>{% endif %}{{ form.nombre.label_tag }} <i class="fa fa-question-circle informacion" data-toggle="tooltip" data-placement="top" title="{{ form.nombre.help_text|safe }}"></i>
                        {{ form.nombre }}
                        {% if form.nombre.errors %}
                        <div class="alert alert-danger alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ form.nombre.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.colaborador.field.required %}<i class="fa fa-asterisk text-danger" aria-hidden="true"></i>{% endif %}{{ form.colaborador.label_tag }} <i class="fa fa-question-circle informacion" data-toggle="tooltip" data-placement="top" title="{{ form.colaborador.help_text|safe }}"></i>
                        {{ form.colaborador }}
                        {% if form.colaborador.errors %}
                        <div class="alert alert-danger alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ form.colaborador.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.evento.field.required %}<i class="fa fa-asterisk text-danger" aria-hidden="true"></i>{% endif %}{{ form.evento.label_tag }} <i class="fa fa-question-circle informacion" data-toggle="tooltip" data-placement="top" title="{{ form.evento.help_text|safe }}"></i>
                        {{ form.evento }}
                        {% if form.evento.errors %}
                        <div class="alert alert-danger alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ form.evento.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.texto.field.required %}<i class="fa fa-asterisk text-danger" aria-hidden="true"></i>{% endif %}{{ form.texto.label_tag }} <i class="fa fa-question-circle informacion" data-toggle="tooltip" data-placement="top" title="{{ form.texto.help_text|safe }}"></i>
                        {{ form.texto }}
                        {% if form.texto.errors %}
                        <div class="alert alert-danger alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ form.texto.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.carrera.field.required %}<i class="fa fa-asterisk text-danger" aria-hidden="true"></i>{% endif %}{{ form.carrera.label_tag }} <i class="fa fa-question-circle informacion" data-toggle="tooltip" data-placement="top" title="{{ form.carrera.help_text|safe }}"></i>
                        {{ form.carrera }}
                        {% if form.carrera.errors %}
                        <div class="alert alert-danger alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ form.carrera.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.tipo.field.required %}<i class="fa fa-asterisk text-danger" aria-hidden="true"></i>{% endif %}{{ form.tipo.label_tag }} <i class="fa fa-question-circle informacion" data-toggle="tooltip" data-placement="top" title="{{ form.tipo.help_text|safe }}"></i>
                        {{ form.tipo }}
                        {% if form.tipo.errors %}
                        <div class="alert alert-danger alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ form.tipo.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.clase.field.required %}<i class="fa fa-asterisk text-danger" aria-hidden="true"></i>{% endif %}{{ form.clase.label_tag }} <i class="fa fa-question-circle informacion" data-toggle="tooltip" data-placement="top" title="{{ form.clase.help_text|safe }}"></i>
                        {{ form.clase }}
                        {% if form.clase.errors %}
                        <div class="alert alert-danger alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ form.clase.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.clave.field.required %}<i class="fa fa-asterisk text-danger" aria-hidden="true"></i>{% endif %}{{ form.clave.label_tag }} <i class="fa fa-question-circle informacion" data-toggle="tooltip" data-placement="top" title="{{ form.clave.help_text|safe }}"></i>
                        {{ form.clave }}
                        {% if form.clave.errors %}
                        <div class="alert alert-danger alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ form.clave.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.tematica.field.required %}<i class="fa fa-asterisk text-danger" aria-hidden="true"></i>{% endif %}{{ form.tematica.label_tag }} <i class="fa fa-question-circle informacion" data-toggle="tooltip" data-placement="top" title="{{ form.tematica.help_text|safe }}"></i>
                        {{ form.tematica }}
                        {% if form.tematica.errors %}
                        <div class="alert alert-danger alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ form.tematica.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
              <!-- /.box-body -->
                <div class="box-footer text-center">
                    <button type="submit" class="btn btn-success col-xs-offset-1 col-xs-4">Guardar <i class="fa fa-floppy-o"></i></button>
                    <a href="/administrador/texto/" class="btn btn-danger col-xs-offset-2 col-xs-4">Cancelar <i class="ion ion-android-cancel"></i></a>

                </div>
            </form>
        </div>
    </div>
    <script src="//cdn.ckeditor.com/4.6.2/full/ckeditor.js"></script>
    <script>
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 4000);
        $(function () {
            CKEDITOR.replace('id_texto');
            CKEDITOR.config.skin = 'office2013,/static/administrador/plugins/ckeditor/skins/office2013/';
        });
    </script>
{% endblock %}