{% extends 'privado/base.html' %}
{% load staticfiles %}
{% block titulo %}
Texto
{% endblock %}
{% block pagina %}
Texto<small>Detalle</small>
{% endblock %}
{% block miga %}
<li><a href="/administrador/"><i class="fa fa-dashboard"></i> Administración</a></li><li><a href="/administrador/texto/"><i class="fa fa-file-text-o"></i> Texto</a></li><li><i class="fa fa-info-circle active"></i> Detalle</li>
{% endblock %}
{% block contenido %}
    <div class="col-xs-8 col-xs-offset-2">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active texto-header text-center">
                <h1 class="widget-user-username">{{ object.nombre }}</h1>
                <h5 class="widget-user-desc">Detalle del TEXTO</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="{% static 'administrador/img/libro.png' %}" alt="Pdf Icon">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Propietario</h5>
                            <span class="description-text">{{object.propietario|lower}}</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-xs-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Tipo</h5>
                            <span class="description-text">{{ object.tipo }}</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-xs-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Clase</h5>
                            <span class="description-text">{{ object.clase|capfirst }}</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-sm-6 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Tags</h5>
                            {% for clave in object.clave.all %}
                                <p class="description-text">
                                {{ clave.nombre }}
                                </p>
                            {% endfor %}
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-xs-6 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Tematicas</h5>
                            {% for tematica in object.tematica.all %}
                                <p class="description-text">
                                {{ tematica.nombre }}
                                </p>
                            {% endfor %}
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-xs-12 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Area de conocimiento</h5>
                            <span class="description-text">{{ object.carrera }}</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 border-right">
                        <div class="description-block">
                            <div class="row">
                                <div class="content">
                                    <div id="id_texto">{{ object.texto }}</div>
                                </div>
                            </div>
                        <!-- /.description-block -->
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.widget-user -->
    <script src="//cdn.ckeditor.com/4.6.2/full/ckeditor.js"></script>
    <script>
        $(function () {
            CKEDITOR.replace('id_texto');
            CKEDITOR.config.skin = 'office2013,/static/administrador/plugins/ckeditor/skins/office2013/';
            var txt = $('<div/>').html("{{ object.texto }}").text()
            CKEDITOR.instances.id_texto.setData(txt)
            var element = $("#id_texto");
            element.attr('disabled', 'disabled')
        });
    </script>
{% endblock %}