{% extends 'privado/base.html' %}
{% block contenido %}
	<div class="error-page">
        <h2 class="headline text-danger"> 404</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-danger"></i> Oops! Pagina no encontrada.</h3>

          <p>
            No se logro encontra el contenido.
            Por favor, <a href="/">regrasa al inicio</a> o intenta una nueva busqueda.
          </p>
        </div>
        <!-- /.error-content -->
      </div>
{% endblock contenido %}