{% extends 'privado/base.html' %}
{% load staticfiles %}
{% block titulo %}
Evento
{% endblock %}
{% block pagina %}
Usuario
<small>Crear</small>
{% endblock %}
{% block miga %}
<li><a href="/"><i class="fa fa-dashboard active"></i> Administración</a></li><li href="#">Usuario</li><li>Crear</li>
{% endblock %}
{% block contenido %}
    <div class="col-xs-4 col-xs-offset-1">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Crear usuario</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
                <div class="box-body">
                    <div class="form-group col-xs-12">
                        <label for="usuario">Contraseña actual</label>
                        <input name="anterior" type="password" class="form-control">
                        <hr>
                        <label for="usuario">Nueva contraseña</label>
                        <input name="nueva" type="password" class="form-control">
                        <label for="usuario">Confirmar contraseña</label>
                        <input name="confirmacion" type="password" class="form-control">
                    </div>
                </div>
              <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-success col-xs-offset-1 col-xs-4">Actualizar <i class="fa fa-refresh"></i></button>
                    <a href="/" class="btn btn-danger col-xs-offset-2 col-xs-4">Cancelar <i class="ion ion-android-cancel"></i></a>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xs-5 col-xs-offset-1">
        <h1 class="text-center lead" style="font-size: 2.9rem;">Información al alcance de tus manos</h1>
        <div class="text-justify">
            <p class="lead" style="font-size: 1.5rem; color: #111111">Acceso abierto de toda la producción de la actividad científica y académica de nuestra Universidad, sin importar el dispositivo en el que te encuentres. Esto y muchos más en RespositioWeb.</p>
            <div class="lead text-center" style="font-size: 2rem;">¿Qué esperas para hacer parte de este proyecto?</div>
        </div>
        <img src="{% static 'administrador/img/devices.png' %}" alt="Dispositivos" class="img-responsive">
    </div>
   {% for field in form %}
       {% for error in field.errors %}
           <strong>{{ error|escape }}</strong>
       {% endfor %}
   {% endfor %}
{% endblock %}