{% extends 'privado/base.html' %}
{% load staticfiles %}
{% block titulo %}
Busqueda
{% endblock %}
{% block pagina %}
Inicio
<small>Busqueda</small>
{% endblock %}
{% block miga %}
<li><a href="/"><i class="fa fa-search active"></i> Busqueda</a></li>
{% endblock %}
{% block contenido %}
<div class="col-xs-12">
<div class="box">
    <div class="box-header">
        <form action="/busqueda/" method="GET">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" name="q" placeholder="Buscar" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <br>
            <div class="form-group col-xs-6 col-xs-offset-3">
                <select class="form-control" name="c" id="">
                    <option value="" disabled selected>Filtro por clase</option>
                    {% for clase in clases %}
                        <option value="{{ clase.id }}">{{ clase.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-4 col-xs-offset-4">
                <button class="btn btn-primary btn-block" type="submit">Buscar</button>
            </div>
        </form>
    </div>
</div>
<div class="box">
    <div class="box-header">
        <div id="exTab2">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a  href="#1" data-toggle="tab">Pdfs</a>
                </li>
                <li>
                    <a href="#2" data-toggle="tab">Textos</a>
                </li>
                <li>
                    <a href="#3" data-toggle="tab">Audios</a>
                </li>
                <li>
                    <a href="#4" data-toggle="tab">Videos</a>
                </li>

            </ul>
            <div class="tab-content ">
                <div class="tab-pane active" id="1">
                    {% if pdfs %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-xs-3">Titulo</th>
                                    <th class="col-xs-3">Propietario</th>
                                    <th class="col-xs-1">Tipo</th>
                                    <th class="col-xs-1">Clase</th>
                                    <th class="col-xs-1">Creado</th>
                                    <th class="col-xs-1">Actualizado</th>
                                    <th class="col-xs-2">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pdf in pdfs %}
                                <tr>
                                    <td>{{ pdf.nombre }}</td>
                                    <td>{{ pdf.propietario }}</td>
                                    <td>{{ pdf.tipo }}</td>
                                    <td>{{ pdf.clase }}</td>
                                    <td>{{ pdf.fecha|date:"d/M/Y"|lower }}</td>
                                    <td>{{ pdf.actualizado|date:"d/M/Y"|lower }}</td>
                                    <td><a href="/administrador/pdf/detalle/{{ pdf.id }}"  class="btn btn-success">ver <i class="fa fa-eye"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                        <p class="lead text-center">No se encontrarón PDFS</p>
                    {% endif %}
                </div>
                <div class="tab-pane" id="2">
                    {% if textos %}
                    <div id="texto" class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-xs-3">Titulo</th>
                                    <th class="col-xs-3">Propietario</th>
                                    <th class="col-xs-1">Tipo</th>
                                    <th class="col-xs-1">Clase</th>
                                    <th class="col-xs-1">Creado</th>
                                    <th class="col-xs-1">Actualizado</th>
                                    <th class="col-xs-2">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for texto in textos %}
                                <tr>
                                    <td>{{ texto.nombre }}</td>
                                    <td>{{ texto.propietario }}</td>
                                    <td>{{ texto.tipo }}</td>
                                    <td>{{ texto.clase }}</td>
                                    <td>{{ texto.fecha|date:"d/M/Y"|lower }}</td>
                                    <td>{{ texto.actualizado|date:"d/M/Y"|lower }}</td>
                                    <td><a href="/administrador/texto/detalle/{{ texto.id }}"  class="btn btn-success">ver <i class="fa fa-eye"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                        <p class="lead text-center">No se encontrarón TEXTOS</p>
                    {% endif %}
                </div>
                <div class="tab-pane" id="3">
                    {% if audios %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-xs-4">Titulo</th>
                                    <th class="col-xs-4">Propietario</th>
                                    <th class="col-xs-1">Creado</th>
                                    <th class="col-xs-1">Actualizado</th>
                                    <th class="col-xs-2">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for audio in audios %}
                                <tr>
                                    <td>{{ audio.propietario }}</td>
                                    <td>{{ audio.ruta }}</td>
                                    <td>{{ audio.fecha|date:"d/M/Y"|lower }}</td>
                                    <td>{{ audio.actualizado|date:"d/M/Y"|lower }}</td>
                                    <td><a href="/administrador/audio/detalle/{{ audio.id }}"  class="btn btn-success">ver <i class="fa fa-eye"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                        <p class="lead text-center">No se encontrarón AUDIOS</p>
                    {% endif %}
                </div>
                <div class="tab-pane" id="4">
                    {% if videos %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-xs-4">Titulo</th>
                                    <th class="col-xs-4">Propietario</th>
                                    <th class="col-xs-1">Creado</th>
                                    <th class="col-xs-1">Actualizado</th>
                                    <th class="col-xs-2">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for video in videos %}
                                <tr>
                                    <td>{{ video.propietario }}</td>
                                    <td>{{ video.ruta }}</td>
                                    <td>{{ video.fecha|date:"d/M/Y"|lower }}</td>
                                    <td>{{ video.actualizado|date:"d/M/Y"|lower }}</td>
                                    <td><a href="/administrador/video/detalle/{{ video.id }}"  class="btn btn-success">ver <i class="fa fa-eye"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                        <p class="lead text-center">No se encontrarón VIDEOS</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
/*$(document).ready(function () {
    var tablatexto = $("#texto").DataTable({
        "language":{
            url:'',
        }
    });
});*/
</script>
{% endblock %}